.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: .5em;
    margin-bottom: 2em;
}

.navbar__list{
   list-style: none;
   padding: 0;
   margin: 0;
}

.navbar__link{
    color: var(--light);
    text-decoration: none;
    padding: 1em;
    border-radius: 0.5em;
    border: solid blue 1px;
}
